<!DOCTYPE html>
<html>

<head>
    <title>CareAssist</title>
    <!-- CSS Load semantic UI from a CDN and the global stylesheet-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel='stylesheet' href='/stylesheets/main.css' />
</head>