<div class="ui inverted blue huge left fixed vertical labeled icon menu" style="width: inherit; margin-top: 7.8vh;">
    <a href="/users/home" class="item center-content">
        <i class="yellow home icon"></i>
        Home
    </a>
    <a class="item center-content patient-list-item" href="/patients">
        <i class="yellow users  icon"></i>
        Patients List
    </a>
    <a class="item center-content add-patient-item" href="/patients/new">
        <i class="yellow add icon"></i>
        Add New Patient
    </a>
    <a class="item center-content reminder-item" href='/users/reminders'>
        <i class="yellow bell icon"></i>
        Send Reminders
    </a>
    <a class="item center-content map-item" href='/patients/map'>
        <i class="yellow map icon"></i>
        Patients Map
    </a>
    <a class="item center-content settings-item" href="/users/settings">
        <i class="yellow wrench icon"></i>
        My Settings
    </a>
</div>