<div class="ui inverted huge left fixed vertical labeled icon menu" style="width: inherit;">
    <div class="header item">
        <div id="logo"><h1 class="ui inverted header">CareAssit</h1></div>
      </div>
    <a href="/user/home" class="item center-content">
        <i class="home icon"></i>
        Home
    </a>
    <a class="bg-ruber item center-content" href="/patients">
        <i class="envelope outline icon"></i>
        Patients List
    </a>
    <a class="bg-zomp  item center-content" href="/user/settings">
        <i class="calendar outline icon"></i>
        Settings
    </a>
    <a class=" bg-liberty item center-content">
        <i class="phone icon"></i>
       Patient Records
    </a>
    <a class="bg-saffron  item center-content">
        <i class="open folder outline icon"></i>
        Test Results
    </a>
    <a class="item center-content">
        <i class="stethoscope icon"></i>
        Send Message
    </a>
</div>