<div class="ui inverted left fixed vertical menu">
    <div class="ui header item">Main</div>
    <a href="/user/home" class="item" style="height:;">
        <i class="home icon"></i>
        Home
    </a>
    <a class="item">
        <i class="envelope outline icon"></i>
        Messages
    </a>
    <a class="item">
        <i class="calendar outline icon"></i>
        Appointments
    </a>
    <a class="item">
        <i class="phone icon"></i>
        Emergency Calls
    </a>
    <div class="ui  header item">Patient</div>
    <a class="item">
        <i class="open folder outline icon"></i>
        Patient Records
    </a>
    <a class="item">
        <i class="pencil icon"></i>
        Assessment
    </a>
    <a class="item">
        <i class="stethoscope icon"></i>
        Test Result
    </a>
    <a class="item">
        <i class="hospital icon"></i>
        Refer Patient
    </a>
    <a href="/users/logout" class="item" style="color: red;">
        Logout
    </a>
</div>