<div class="ui inverted borderless left vertical sidebar menu ">
    <div class="header item">
        <img class="ui tiny centered image"
            src="https://www.scripturaengage.com/wp-content/uploads/2017/03/Profile-Picture-Joke-Dehond-Circle.png">
        <h1 class="ui centered inverted header">Pape Traore</h1>
    </div>
    <div class="ui header item">Main</div>
    <a href="/home" class="item">
        <i class="home icon"></i>
        Home
    </a>
    <a class="item">
        <i class="envelope outline icon"></i>
        Messages
    </a>
    <a class="item">
        <i class="calendar outline icon"></i>
        Appointments
    </a>
    <a class="item">
        <i class="phone icon"></i>
        Emergency Calls
    </a>
    <div class="ui  header item">Patient</div>
    <a class="item">
        <i class="open folder outline icon"></i>
        Patient Records
    </a>
    <a class="item">
        <i class="pencil icon"></i>
        Assessment
    </a>
    <a class="item">
        <i class="stethoscope icon"></i>
        Test Result
    </a>
    <a class="item">
        <i class="hospital icon"></i>
        Refer Patient
    </a>
    <a href="/users/logout" class="item" style="color: red;">
        Logout
    </a>
</div>