<div class="ui inverted blue huge left fixed vertical labeled icon menu" style="width: inherit; margin-top: 6.5vh;">
    <!-- <div class="inverted header item" style="background: white;">
        <div id="logo"><h1 class="ui inverted header">CareAssit</h1></div>
      </div> -->
    <a href="/users/home" class="item center-content">
        <i class="home icon"></i>
        Home
    </a>
    <a class="item selected center-content" href="/patients">
        <i class="envelope outline icon"></i>
        Patients List
    </a>
    <a class="item center-content" href="/patients/new">
        <i class="add icon"></i>
        Add New Patient
    </a>
    <a class="item center-content">
        <i class="bell icon"></i>
        Send Reminders
    </a>
    <a class="item center-content">
        <i class="wrench icon"></i>
       My Settings
    </a>
</div>