<div class="ui basic segment">
    <div class="ui fixed  borderless menu " style="height: 6.5vh;">
        <div class="item">
            <h1 class="ui header">
                <i class="large icons">
                  <i class="heartbeat blue icon"></i>
                  <i class="inverted corner yellow wheelchair icon"></i>
                </i>
                CareAssist
              </h1>
        </div>
        <div class="right menu">
            <div class="ui right aligned category search item">
                <div class="ui transparent icon inverted input">
                    <input class="prompt" type="text" placeholder="Search patients...">
                    <i class="search link icon"></i>
                </div>
                <div class="results"></div>
            </div>
            <div class="item">
                <div class="ui min image">
                    <img class="ui mini centered image"
                        src="https://www.scripturaengage.com/wp-content/uploads/2017/03/Profile-Picture-Joke-Dehond-Circle.png">
                </div>
                <div class="middle aligned content">
                    Pape Traore
                </div>
            </div>
            <a href="/users/logout" class="item">
                <div class="ui basic red button">Sign out</div>
            </a>
        </div>
    </div>
</div>
