<div class="ui top borderless attached big menu " style="height: 8vh;">
    <div class="item">
        <i class="big sidebar icon"></i>
    </div>
    <a class="item" href="/user/home">
        <i class="big home icon"></i>
    </a>
    <div class="right menu">
        <div class="ui right aligned category search item">
            <div class="ui transparent icon input">
                <input class="prompt" type="text" placeholder="Search patients...">
                <i class="search link icon"></i>
            </div>
            <div class="results"></div>
        </div>
        <a class="item" href="/user/settings">
            <i class="big setting icon"></i>
        </a>
        <div class="item">
            <div class="ui min image">
                <img class="ui mini centered image"
                    src="https://www.scripturaengage.com/wp-content/uploads/2017/03/Profile-Picture-Joke-Dehond-Circle.png">
            </div>
            <div class="middle aligned content">
                Pape Traore
            </div>
        </div>
    </div>
</div>
