<div class="ui top fluid menu borderless" style="height: 10vh;">
    <div class="item">
        <i class="big sidebar icon"></i>
    </div>
    <div class="item">
        <i class="big envelope icon"></i>
    </div>
    <div class="item">
        <i class="big bell icon"></i>
    </div>
    <div class="right menu">
        <div class="ui right aligned category search item">
            <div class="ui transparent icon input">
                <input class="prompt" type="text" placeholder="Search patients...">
                <i class="search link icon"></i>
            </div>
            <div class="results"></div>
        </div>
        <div class="item">
            <i class="big setting icon"></i>
        </div>
        <a href="/" class="item">
            <i class="red sign out alternate big icon"></i>
        </a>
    </div>
</div>

