<% include ../../partials/head %>
<% include ../../partials/topmenu %>

<div class="ui basic segment " id ="main-segment">
    <div class="ui stackable grid ">
        <div class="row">
            <div class="sixteen wide column" style="background: #1f1f21!important;padding:0 0 0 15vw;">
                <div class="ui  large  breadcrumb" style="margin: 30px 0 ;">
                    <a href='/users/home' class="ft-white section">Home</a>
                    <i class="right ft-white chevron icon divider"></i>
                    <a href='/patients' class="active ft-white section">Patients List</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="two wide column">
                <% include ../../partials/sidebar %>
            </div>
            <div class="fourteen wide column">

            </div>
        </div>
    </div>
</div>

<% include ../../partials/footer %>