<% include ../../partials/head %>

<div class="ui basic segment ">
    <div class="ui stackable grid ">
        <div class="row">
            <div class="two wide column">
                <% include ../../partials/sidebar %>
            </div>
            <div class="fourteen wide column">

            </div>
        </div>
    </div>
</div>


<% include ../../partials/footer %>