<% include ../../partials/head %>
<% include ../../partials/topmenu %>

<div class="ui basic segment" id="main-segment">
    <div class="ui divided stackable grid home-menu">
        <div class="three column row long pd-0" style="background: #202021">
            <div class="column center-content">
                <div>
                    <h1 class="ui inverted header" id="header-title">Hi <%=user.first_name%>!</h1>
                    <div>
                        <h1 class="ui inverted centered header"><%=date%></h1>
                    </div>
                </div>
            </div>
            <div class="column center-content">
            </div>
            <div class="column center-content">
                <h1 class="ui inverted  header">
                    <i class="bell outline icon"></i>
                    <div class="content">
                        2 Notifications
                    </div>
                </h1>
                <h1 class="ui  inverted header">
                    <i class="clock outline icon"></i>
                    <div class="content">
                        <div id="MyClockDisplay" class="" onload="showTime()"></div>
                    </div>
                </h1>
            </div>
        </div>
        <div class="five column row long pd-0">
            <div class="column center-content menu-item bg-blue" onclick="window.location='/patients'">
                <h2 class="ui inverted icon header ">
                    <i class="yellow users icon "></i>
                    <div class="content ">
                        Patients List
                    </div>
                </h2>
            </div>
            <div class="column center-content menu-item bg-blue " onclick="window.location='/patients/new'">
                <h2 class="ui inverted icon header ">
                    <i class="yellow add icon"></i>
                    <div class="content">
                        Add New Patient
                    </div>
                </h2>
            </div>
            <div class="column center-content menu-item bg-blue" onclick="window.location='/users/reminders'">
                <h2 class="ui inverted icon header">
                    <i class="yellow bell icon"></i>
                    <div class="content">
                        Send Reminder
                    </div>
                </h2>
            </div>
            <div class="column center-content menu-item bg-blue" onclick="window.location='/patients/map'">
                <h2 class="ui inverted icon header">
                    <i class="yellow map icon"></i>
                    <div class="content">
                        Patients Map
                    </div>
                </h2>
            </div>
            <div class="column center-content menu-item bg-blue " onclick="window.location='/users/settings'">
                <h2 class="ui inverted icon header ">
                    <i class="yellow wrench icon"></i>
                    <div class="content">
                        My Settings
                    </div>
                </h2>
            </div>
        </div>

        <div class="two column row long pd-0" style="background: white;">
            <div class="column center-content">
                <div class="ui large header" style="margin-bottom: 1.5vh;">Outside of Geofence</div>
                <div class="ui huge yellow statistic">
                    <div class="value">
                        <%=outFence%>
                    </div>
                    <div class="label">
                      Patients
                    </div>
                  </div>
             
            </div>
            <div class="column center-content">
                <div class="ui large header" style="margin-bottom: 1.5vh;">Inside of Geofence</div>
                <div class="ui huge yellow statistic">
                    <div class="value">
                        <%=inFence%>
                    </div>
                    <div class="label">
                      Patients
                    </div>
                  </div>
             
            </div>
        </div>
    </div>
</div>

<% include ../../partials/footer %>