<% include ../../partials/head %>
<% include ../../partials/topmenu %>

<div class="ui basic segment" id="main-segment">
    <div class="ui stackable grid">
        <div class="row">
            <div class="sixteen wide column" style="padding-left: 16.5vw;">
                <div class="ui large  breadcrumb" style="margin-top: 30px;">
                    <a href='/users/home' class=" section">Home</a>
                    <i class="right chevron icon divider"></i>
                    <div class="active section">My Settings</div>
                </div>
            </div>
        </div>
        <div class="centered row">
            <div class="two wide column">
                <% include ../../partials/sidebar %>
            </div>
            <div class="eleven wide column">
                <div class="ui top attached tabular menu">
                    <a class="active item" data-tab="first">Personal Information</a>
                    <a class="item" data-tab="second">Manage Users</a>
                </div>

                <div class="ui bottom attached tab segment active" data-tab="first">
                    <div class="ui blue small header">Edit Personal Information</div>
                    <div class="ui stackable grid">
                        <div class="row">
                            <div class="three wide column" style="margin-left: 1.5vh;">
                                <img class="ui small rounded image" src="/images/pic1.jpeg">
                            </div>
                            <div class="three wide column">
                                <br>
                                <div class="ui header">Pape Traore</div>
                                <div class="ui small grey header" style="margin: 0px;">papisline2222@gmail.com</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="content">
                        <form action="" method="post" class="ui form">
                            <div class="two fields">
                                <div class="five wide field">
                                    <label>First Name</label>
                                    <input type="text" name="current_password" placeholder="First Name">
                                </div>
                                <div class="five wide field">
                                    <label>Last Name</label>
                                    <input type="text" name="new_password" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="four wide field">
                                    <label>Email Address</label>
                                    <input type="email" name="email_address" placeholder="Email">
                                </div>
                                <div class="four wide field">
                                    <label>Confirm Email Address</label>
                                    <input type="email" name="confirm_email_address" placeholder="Confirm Email">
                                </div>
                            </div>
                            <button class="ui green button" type="submit">Save Changes</button>
                            <button class="ui red deny centered icon button" type="reset"> Reset Fields </button>
                        </form>
                    </div>
                    <div class="ui divider"></div>
                    <div class="ui blue small header">Edit Password</div>
                    <div class="content">
                        <form action="/changePassword" method="post" class="ui form">
                            <div class="ui error message"> </div>
                            <div class="five wide field">
                                <label>Current Password</label>
                                <input type="password" name="current_password" placeholder="Current Password">
                            </div>
                            <div class="five wide field">
                                <label>New Password</label>
                                <input type="password" name="new_password" placeholder="New Password" id="new_password">
                            </div>
                            <div class="five wide field">
                                <label>Confirm New Password</label>
                                <input type="password" name="confirm_new_password" placeholder="Confirm Password">
                            </div>
                            <button class="ui green button" type="submit">Save Changes</button>
                            <button class="ui red deny centered icon button" type="reset"> Reset Fields </button>
                        </form>
                    </div>
                </div>

                <div class="ui bottom attached tab segment" data-tab="second">
                    <div class="ui blue small header">Delete Caretakers</div>
                    <div class="ui cards">
                        <div class="red card">
                            <div class="image">
                                <img src="/images/pic1.jpeg">
                            </div>
                            <div class="content">
                                <div class="header">Matt Giampietro</div>
                                <div class="meta">
                                    <a>test@test.com</a>
                                </div>
                                <div class="description">
                                    Matthew is an interior designer living in New York.
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui bottom attached basic red button">Delete User</div>
                            </div>
                        </div>
                        <div class="green card">
                            <div class="image">
                                <img src="/images/pic2.jpg">
                            </div>
                            <div class="content">
                                <div class="header">Molly</div>
                                <div class="meta">
                                    <span class="date">Coworker</span>
                                </div>
                                <div class="description">
                                    Molly is a personal assistant living in Paris.
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui bottom attached basic red button">Delete User</div>
                            </div>
                        </div>
                        <div class="blue card">
                            <div class="image">
                                <img src="/images/pic3.png">
                            </div>
                            <div class="content">
                                <div class="header">Elyse</div>
                                <div class="meta">
                                    <a>Coworker</a>
                                </div>
                                <div class="description">
                                    Elyse is a copywriter working in New York.
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui bottom attached basic red button">Delete User</div>
                            </div>
                        </div>
                        <!-- <i class="massive inverted grey arrow alternate circle right icon" style="padding-top:15vh; padding-left:5vh;"></i> -->
                    </div>
                    <div class="ui divider"></div>
                    <div class="ui blue small header">Add New Caretaker</div>
                    <div class="content">
                        <form action="/changePassword" method="post" class="ui form">
                            <div class="ui error message"> </div>
                            <div class="two fields">
                                <div class="five wide field">
                                    <label>First Name</label>
                                    <input type="text" name="current_password" placeholder="First Name">
                                </div>
                                <div class="five wide field">
                                    <label>Last Name</label>
                                    <input type="text" name="new_password" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="four wide field">
                                    <label>Email Address</label>
                                    <input type="email" name="email_address" placeholder="Email">
                                </div>
                                <div class="four wide field">
                                    <label>Confirm Email Address</label>
                                    <input type="email" name="confirm_email_address" placeholder="Confirm Email">
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="four wide field">
                                    <label>New Password</label>
                                    <input type="password" name="new_password" placeholder="New Password"
                                        id="new_password">
                                </div>
                                <div class="four wide field">
                                    <label>Confirm New Password</label>
                                    <input type="password" name="confirm_new_password" placeholder="Confirm Password">
                                </div>
                            </div>
                            <button class="ui green button" type="submit">Save Changes</button>
                            <button class="ui red deny centered icon button" type="reset"> Reset Fields </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<% include ../../partials/footer %>