<% include ../../partials/head %>
<% include ../../partials/topmenu %>

<div class="ui basic segment " id="main-segment">
    <div class="ui stackable grid height-inherit">
        <div class="row height-inherit">
            <div class="two wide column ">
                <% include ../../partials/sidebar %>
            </div>
            <div class="fourteen wide column height-inherit">
                <div class="ui centered grid height-inherit" style="margin-top: 20px;">
                    <div class="three wide column">
                        <div class="ui segments">
                            <div class="ui segment">
                                <div class="ui fluid icon input">
                                    <input type="text" placeholder="Search for a patient">
                                    <i class="blue search icon"></i>
                                  </div>
                            </div>
                            <div class="ui segment">
                                <div class="ui items">
                                    <div class="item">
                                        <div class="ui very tiny image">
                                            <img
                                                src="https://www.scripturaengage.com/wp-content/uploads/2017/03/Profile-Picture-Joke-Dehond-Circle.png">
                                        </div>
                                        <div class="content">
                                            <a class="header">Pape Traore</a>
                                            <div class="description">
                                              <p>Many people also have their horses...</p>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui segment" style="background:#ffffed ">
                                <div class="ui items">
                                    <div class="item">
                                        <div class="ui very tiny image">
                                            <img
                                                src="https://cdn.clipart.email/490e5ccc677f469256d2bed1ed909ab4_our-story-mostly-sugar-lifestyle-beauty-fashion_800-800.png">
                                        </div>
                                        <div class="content">
                                            <a class="header">Hannah Jones</a>
                                            <div class="description">
                                              <p>Many people also have their horses...</p>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui segment">
                                <div class="ui items">
                                    <div class="item">
                                        <div class="ui very tiny image">
                                            <img
                                                src="https://www.robolink.com/wp-content/uploads/2019/09/whoseop_circular.png">
                                        </div>
                                        <div class="content">
                                            <a class="header">Johnny Gabriel</a>
                                            <div class="description">
                                              <p>Many people also have their horses...</p>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ten wide column">
                        <div class="ui segment pd-0">
                            <div class="ui internally celled grid">
                                <div class="one column row" style="height: 10vh;">
                                    <div class="column">
                                        <div class="ui items">
                                            <div class="item">
                                                <div class="ui very tiny image">
                                                    <img
                                                        src="https://cdn.clipart.email/490e5ccc677f469256d2bed1ed909ab4_our-story-mostly-sugar-lifestyle-beauty-fashion_800-800.png">
                                                </div>
                                                <div class="middle aligned content">
                                                    <a class="ui blue header">Hannah Jones</a>
                                                    <div class="description">
            
                                                    </div>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="one column row" style="height: 65vh;">
                                    <div class="column">

                                    </div>
                                </div>
                                <div class="one column row" style="height: 7vh;">
                                    <div class="column">
                                          <div class="ui big fluid buttons">
                                            <button class="ui blue button">Take Pills</button>
                                            <div class="or"></div>
                                            <button class="ui yellow button">Time To Walk</button>
                                            <div class="or"></div>
                                            <button class="ui blue button">Shower Time</button>
                                            <div class="or"></div>
                                            <button class="ui yellow button">Meal Time</button>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<% include ../../partials/footer %>