<% include ../../partials/head %>
<% include ../../partials/topmenu %>

<div class="ui basic segment " id="main-segment">
    <div class="ui stackable grid height-inherit">
      <div class="row">
        <div class="sixteen wide column" style="padding:0 0 0 15vw;">
                <div class="ui  inverted large  breadcrumb" style="margin: 30px 0 ;">
                    <a href='/users/home' class="section">Home</a>
                    <i class="right chevron icon divider"></i>
                    <div class="active  section">Send Reminders</div>
                </div>
        </div>
    </div>
        <div class="row height-inherit">
            <div class="two wide column">
                <% include ../../partials/sidebar %>
            </div>
            <div class="fourteen wide column height-inherit">
                <div class="ui centered grid height-inherit">
                    <div class="three wide column">
                        <div class="ui segments">
                            <div class="ui segment">
                                <div class="ui fluid icon input">
                                    <input type="text" placeholder="Search for a patient">
                                    <i class="blue search icon"></i>
                                  </div>
                            </div>
                            <div class="ui segment">
                                <div class="ui items">
                                    <div class="item">
                                        <div class="ui very tiny image">
                                            <img
                                                src="https://www.scripturaengage.com/wp-content/uploads/2017/03/Profile-Picture-Joke-Dehond-Circle.png">
                                        </div>
                                        <div class="content">
                                            <a class="header">Pape Traore</a>
                                            <div class="description">
                                              <p>Many people also have their horses...</p>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui segment" style="background:#ffffed ">
                                <div class="ui items">
                                    <div class="item">
                                        <div class="ui very tiny image">
                                            <img
                                                src="https://cdn.clipart.email/490e5ccc677f469256d2bed1ed909ab4_our-story-mostly-sugar-lifestyle-beauty-fashion_800-800.png">
                                        </div>
                                        <div class="content">
                                            <a class="header">Hannah Jones</a>
                                            <div class="description">
                                              <p>Many people also have their horses...</p>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui segment">
                                <div class="ui items">
                                    <div class="item">
                                        <div class="ui very tiny image">
                                            <img
                                                src="https://www.robolink.com/wp-content/uploads/2019/09/whoseop_circular.png">
                                        </div>
                                        <div class="content">
                                            <a class="header">Johnny Gabriel</a>
                                            <div class="description">
                                              <p>Many people also have their horses...</p>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ten wide column">
                        <div class="ui segment pd-0">
                            <div class="ui internally celled grid">
                                <div class="one column row" style="height: 10vh;">
                                    <div class="column">
                                        <div class="ui items">
                                            <div class="item">
                                                <div class="ui very tiny image">
                                                    <img
                                                        src="https://cdn.clipart.email/490e5ccc677f469256d2bed1ed909ab4_our-story-mostly-sugar-lifestyle-beauty-fashion_800-800.png">
                                                </div>
                                                <div class="middle aligned content">
                                                    <a class="ui blue header">Hannah Jones</a>
                                                    <div class="description">
            
                                                    </div>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="one column row" style="height: 55vh;">
                                    <div class="column">
                                          <div class="ui big comments">

                                            <div class="comment">
                                              <a class="avatar">
                                                <img src="https://www.hfgip.com/sites/default/files/media/Images/HFG_staff/nicola_profile_circular.jpg.png">
                                              </a>
                                              <div class="content">
                                                <a class="author">Elliot Fu</a>
                                                <div class="metadata">
                                                  <span class="date">Yesterday at 12:30AM</span>
                                                </div>
                                                <div class="text">
                                                  <p>You sent a "Take Pills" reminder to Hannah on February 12th at 2:32 PM</p>
                                                </div>
                                                <div class="actions">
                                                  <a class="reply">Reply</a>
                                                </div>
                                              </div>
                                              <div class="comments">
                                                <div class="comment">
                                                  <a class="avatar">
                                                    <img src="https://cdn.clipart.email/490e5ccc677f469256d2bed1ed909ab4_our-story-mostly-sugar-lifestyle-beauty-fashion_800-800.png">
                                                  </a>
                                                  <div class="content">
                                                    <a class="author">Hannah Jones</a>
                                                    <div class="metadata">
                                                      <span class="date">Just now</span>
                                                    </div>
                                                    <div class="text">
                                                        Hannah saw the alert on February 12th at 2:56 PM
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>

                                            <div class="comment">
                                                <a class="avatar">
                                                  <img src="https://www.hfgip.com/sites/default/files/media/Images/HFG_staff/nicola_profile_circular.jpg.png">
                                                </a>
                                                <div class="content">
                                                  <a class="author">Elliot Fu</a>
                                                  <div class="metadata">
                                                    <span class="date">Yesterday at 12:30AM</span>
                                                  </div>
                                                  <div class="text">
                                                    <p>You sent a "Take Pills" reminder to Hannah on February 12th at 2:32 PM</p>
                                                  </div>
                                                  <div class="actions">
                                                    <a class="reply">Reply</a>
                                                  </div>
                                                </div>
                                                <div class="comments">
                                                  <div class="comment">
                                                    <a class="avatar">
                                                      <img src="https://cdn.clipart.email/490e5ccc677f469256d2bed1ed909ab4_our-story-mostly-sugar-lifestyle-beauty-fashion_800-800.png">
                                                    </a>
                                                    <div class="content">
                                                      <a class="author">Hannah Jones</a>
                                                      <div class="metadata">
                                                        <span class="date">Just now</span>
                                                      </div>
                                                      <div class="text">
                                                          Hannah saw the alert on February 12th at 2:56 PM
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
    
                                          </div>
                                    </div>
                                </div>
                                <div class="one column row" style="height: 7vh;">
                                    <div class="column">
                                          <div class="ui big bottom attached fluid buttons">
                                            <button class="ui  yellow button">Take Pills</button>
                                            <div class="or"></div>
                                            <button class="ui blue button">Time To Walk</button>
                                            <div class="or"></div>
                                            <button class="ui yellow button">Shower Time</button>
                                            <div class="or"></div>
                                            <button class="ui blue button">Meal Time</button>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<% include ../../partials/footer %>