<% include ../../partials/head %>
<% include ../../partials/topmenu %>

<div class="ui bottom attached segment">
    <% include ../../partials/sidebar %>
    <!-- START OF PUSHER SIDEBAR-->
    <div class="pusher">
        <div class="ui basic segment">
            <div class="ui  internally celled grid">
                <div class="row">
                    <div class="sixteen wide column pd-0">
                        <div class="ui secondary menu">
                            <h3 class="ui item header">
                                <i class="user big ft-ruber icon"></i>
                                <div class="content">
                                    Patient List
                                </div>
                            </h3>
                            <div class="item ft-ruber" style="font-weight: bold;">
                                List
                            </div>
                            <div class="item">
                                Thumbnail
                            </div>
                            <div class="right menu">
                                <div class="inverted item">
                                    <div class="ui icon input">
                                        <input type="text" placeholder="Search...">
                                        <i class="search link icon"></i>
                                    </div>
                                </div>
                                <a class="ui item">
                                    <i class="add ft-ruber circular icon"></i>
                                </a>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row pd-0">
                    <div class="center-content three wide column">
                        <div class="ui mini horizontal statistic">
                            <div class="value ft-ruber">
                                2,204
                            </div>
                            <div class="label">
                                Patients
                            </div>
                        </div>
                    </div>
                    <div class="thirteen wide column">
                        <div class="ui secondary menu">
                            <div class="item ">
                                <span style="margin-right: 20px; font-size: 15px;">Sort By </span>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="gender">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Gender</div>
                                    <div class="menu">
                                        <div class="item" data-value="1">Male</div>
                                        <div class="item" data-value="0">Female</div>
                                    </div>
                                </div>
                            </div>
                            <div class="right menu">
                                <div class="item">
                                    <div class="ui icon button">
                                        <i class="print icon"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ui button">
                                        <i class="filter icon"></i>
                                        Filter
                                    </div>
                                </div>
                                <div class="item">
                                    <button class="ui button">
                                        <i class="icon pencil"></i>
                                        edit column
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui row">
                    <div class="ui segment container"style="margin-top:40px" >
                        <table class="ui very basic table">
                            <thead>
                                <tr>
                                    <th>Basic Info</th>
                                    <th>Phone Number </th>
                                    <th>City</th>
                                    <th>Age</th>
                                    <th>Status</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="">
                                    <td>
                                        <h4 class="ui image header">
                                            <img src="https://www.scripturaengage.com/wp-content/uploads/2017/03/Profile-Picture-Joke-Dehond-Circle.png"
                                                class="ui big rounded image">
                                            <div class="content">
                                                Lena Diane
                                                <div class="sub header">diane@example.com</div>
                                            </div>
                                        </h4>
                                    </td>
                                    <td>202-555-0120</td>
                                    <td>College Station</td>
                                    <td>23</td>
                                    <td>sss</td>
                                    <td><a href="/patients/1">View</a></td>
                                </tr>
                                <tr class="">
                                    <td>
                                        <h4 class="ui image header">
                                            <img src="https://www.scripturaengage.com/wp-content/uploads/2017/03/Profile-Picture-Joke-Dehond-Circle.png"
                                                class="ui big rounded image">
                                            <div class="content">
                                                Joseph Martin
                                                <div class="sub header">diane@example.com
                                                </div>
                                            </div>
                                        </h4>
                                    </td>
                                    <td>202-342-0120</td>
                                    <td>Arlington Station</td>
                                    <td>56</td>
                                    <td>sss</td>
                                    <td><a href="/patients/1">View</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF PUSHER SIDEBAR-->
</div>

<% include ../../partials/footer %>