<% include ../../partials/head %>
<% include ../../partials/topmenu %>

<div class="ui basic segment" id="main-segment">
    <div class="ui stackable grid ">
        <div class="row">
            <div class="sixteen wide column" style="background: #1f1f21!important;padding:0 0 0 15vw;">
                    <div class="ui  large  breadcrumb" style="margin: 30px 0 ;">
                        <a href='/users/home' class="ft-white section">Home</a>
                        <i class="right ft-white chevron icon divider"></i>
                        <div class="active ft-white section">Add New Patient</div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="two wide column">
                <% include ../../partials/sidebar %>
            </div>
            <div class="fourteen wide column pd-0">
                <div class="ui container">
                    <h1 style="margin-top: 40px;" class="ui  header">New Patient Form</h1>
                    <p style="font-size: 1.25em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <!-- <form class="ui form" action="/patients" method="POST">
                        <div class="field">
                            <label>First Name</label>
                            <input name="firstName" type="text" placeholder="First Name ...">
                        </div>
                        <div class="field">
                            <label>Last name</label>
                            <input type="text" name="lastName" placeholder="Last Name ...">
                        </div>
                        <button class="ui green sumbit button"> Create</button>
                    </form> -->
                    <div class="ui centered grid">
                        <div class="one column row">
                            <div class="twelve wide  column">
                                <form class="ui form" action="/form" method="POST">

                                    <div class="ui three top attached steps" style="margin-top: 25px;">
                                        <div class="active step one">
                                          <i class="user yellow icon"></i>
                                          <div class="content">
                                            <div class="title">Personal Information</div>
                                          </div>
                                        </div>
                                        <div class="step two">
                                          <i class="yellow add cirular icon"></i>
                                          <div class="content">
                                            <div class="title">Emergency Contact</div>
                                          </div>
                                        </div>
                                        <div class="step three">
                                            <i class="yellow medkit icon"></i>
                                            <div class="content">
                                              <div class="title">Health Data</div>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="ui attached segment">

                                        <!-- PATIENT INFORMATION -->
                                        <div class="personal">
                                            <div class="three fields">
                                                <div class="field first_name">
                                                    <label>First Name</label>
                                                    <input name="patient[first_name]" type="text" >
                                                </div>
                                                <div class="field last_name">
                                                    <label>Last name</label>
                                                    <input type="text" name="patient[last_name]" >
                                                </div>
                                                <div class="field birthday">
                                                    <label>Date Of Birth</label>
                                                    <input type="date" name="patient[birthday]">
                                                </div>
                                              </div>
                                              <div class="two fields">
                                                <div class="field">
                                                    <label>Gender</label>
                                                    <div class="ui selection dropdown">
                                                        <input type="hidden" name="patient[gender]">
                                                        <i class="dropdown icon"></i>
                                                        <div class="default text">Gender</div>
                                                        <div class="menu">
                                                            <div class="item" data-value="Male">Male</div>
                                                            <div class="item" data-value="Female">Female</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="field ">
                                                    <label>Full name of Primary Care of Physician</label>
                                                    <input type="text" name="patient[physician]">
                                                </div>
                                              </div>
                                              <div class="field">
                                                <div class="field patient_home_address">
                                                    <label>Home Address (Street Number and Name, City, State, Zipcode)</label>
                                                    <input type="text" name="patient[home_address]" placeholder="EX: 3311 Canyon Drive, Arlington, TX, 75026">
                                                </div>
                                              </div>
                                        </div>

                                        <div style="margin-top: 15px;" class="ui button blue" id='contactNext'>NEXT</div>
                                          

                                          <!-- EMERGENCY INFORMATION -->

                                          <div class="emergency">
                                            <div class="field">
                                                <label>Full Name</label>
                                                <input name="patient[emergency[full_name]]" type="text">
                                              </div>
                                              <div class="field">
                                                <label>Relationship to Patient</label>
                                                <input name="patient[emergency[relationship]]"  type="text">
                                              </div>
                                              <div class="two fields">
                                                <div class="field">
                                                    <label>Phone Number</label>
                                                    <input name="patient[emergency[phone_number]]"  type="text">
                                                </div>
                                                <div class="field">
                                                    <label>Email Address</label>
                                                    <input name="patient[emergency[email]]"  type="text">
                                                  </div>
                                              </div>
                                          </div>
                                  

                                        <div class="ui button blue" id='healthtNext'>NEXT</div>


                                        <button class="ui green sumbit button" id="submitButton"> Submit</button>
                                      </div>
                                    </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../../partials/footer %>