<% include ../../partials/head %>
<% include ../../partials/topmenu %>

<div class="ui basic segment " id="main-segment">
    <div class="ui stackable grid ">
        <div class="row">
            <div class="sixteen wide column" style="background: #1f1f21!important;padding:0 0 0 15vw;">
                <div class="ui  large  breadcrumb" style="margin: 30px 0 ;">
                    <a href='/users/home' class="ft-white section">Home</a>
                    <i class="right ft-white chevron icon divider"></i>
                    <a href='/patients' class="active ft-white section">Pape</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="two wide column">
                <% include ../../partials/sidebar %>
            </div>
            <div class="fourteen wide column">
                <div class="ui two column  grid" style="margin:0 2vw">
                    <div class=" three wide column">

                        <div class="ui center aligned container segment">
                            <img class="ui centered small circular image"
                                src="https://www.scripturaengage.com/wp-content/uploads/2017/03/Profile-Picture-Joke-Dehond-Circle.png"
                                alt="">
                            <div class="ui header">
                                Pape Sow Traore
                            </div>
                            <div class="ui three column grid" style="margin-top: 30px;">
                                <div class="column">
                                    <div class="ui blue header">Blood</div>
                                    <div class="ui tiny statistic">
                                        <div class="value">
                                            B+
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui blue header">Weight</div>
                                    <div class="ui tiny statistic">
                                        <div class="value">
                                            167
                                        </div>
                                        <div class="label">
                                            cm
                                        </div>
                                    </div>

                                </div>
                                <div class="column">
                                    <div class="ui blue header">Height</div>
                                    <div class="ui tiny statistic">
                                        <div class="value">
                                            67
                                        </div>
                                        <div class="label">
                                            kg
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="ui header">Quick Summary</div>

                    </div>

                    <div class=" ten wide column">
                        <div class="ui attached top tabular  menu">
                            <a class="active item" data-tab="first">General Information</a>
                            <a class="item" data-tab="second">Second</a>
                            <a class="item" data-tab="third">Third</a>
                        </div>
                        <div class="ui bottom attached active tab segment" data-tab="first">
                            General
                        </div>
                        <div class="ui bottom attached tab segment" data-tab="second">
                            Second
                        </div>
                        <div class="ui bottom attached tab segment" data-tab="third">
                            Third
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../../partials/footer %>