<% include ../../partials/head %>
<% include ../../partials/topmenu %>

<div class="ui bottom attached segment">
    <% include ../../partials/sidebar %>
    <!-- START OF PUSHER SIDEBAR-->
    <div class="pusher">
        <div class="ui basic segment">
            <div class="ui internally celled grid">
                <div class="row">
                    <div class="column">
                        <div class="ui secondary menu">
                            <div class="item ">
                                <div class="ui breadcrumb">
                                    <a class="section">Patient List</a>
                                    <i class="right angle icon divider"></i>
                                    <a class=" active section">Jesse Wynn</a>
                                </div>
                            </div>
                            <div class="right menu">
                                <div class="item">
                                    <div class="ui icon button">
                                        <i class="print icon"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <button class="ui button">
                                        <i class="icon pencil"></i>
                                        Edit Patient
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" twelve wide column">
                        <div class="ui segment">
                            <div class="ui internally celled stackable grid">
                                <div class=" five wide column">
                                        <div class="ui items" >
                                            <div class="item">
                                                <div class="ui small circular image">
                                                  <img src="https://lh3.googleusercontent.com/proxy/NULCFArQEOPoCzKWu7ikB6nB_kRJNRV1EAf1W5MnSo4w8LyFQZveH73hVgktGPZRtBSpZWaz1fNZr1gQ0YBS07pk8oBUwbJ5JVipn91QtXBC4ABbMdrrdFTjam7dTEaVBVO-3-2pRiy4jOiyZ0kca_f9DgsKP2EtDYi84Q">
                                                </div>
                                                <div class="content" style="margin-left:20px">
                                                   <h2 class="ui pink header">Jesse Wynn</h2>
                                                  <!-- <div class="meta">
                                                    <span>Description</span>
                                                  </div> -->
                                                  <div class="description">
                                                    <h4 class="ui  header">Emeregency Contact</h4>
                                                  </div>
                                                  <div class="extra">
                                                    <p>Louise Milligan</p>
                                                   <p>+21 383 834 764</p>
                                                  </div>
                                                  <div class="ui button" style="margin-top: 15px;"> Edit Patient</div>
                                                </div>
                                              </div>
                                        </div>
                                </div>
                                <div class="six wide column">
                                    
                                </div>
                                <div class="five wide column" >
                                    <div style="padding-left:25px">
                                        <h3 class="ui grey header">SPECIAL NEEDS</h3>
                                        <p> <b>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is. </b></p>
                                        <h3 class="ui grey header">NOTES</h3>
                                        <p><b>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour. </b> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="four wide column">
                        <div class="ui segment">

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <!-- END OF PUSHER SIDEBAR-->
</div>

<% include ../../partials/footer %>