<% include ../../partials/head %>
<% include ../../partials/topmenu %>

<div class="ui bottom attached segment">
    <% include ../../partials/sidebar %>
    <!-- START OF PUSHER SIDEBAR-->
    <div class="pusher">
        <div class="ui basic segment">
            <h1>ghg</h1>
        </div>
    </div>
    <!-- END OF PUSHER SIDEBAR-->
</div>

<% include ../../partials/footer %>