<% include ../../partials/head %>
<% include ../../partials/topmenu %>

<div class="ui bottom attached segment">
    <% include ../../partials/sidebar %>
    <!-- START OF PUSHER SIDEBAR-->
    <div class="pusher">
        <div class="ui basic segment">
            <div class="ui internally celled grid">
                <div class="row">
                    <div class="column pd-0">
                        <div class="ui secondary menu">
                            <h3 class="ui item header">
                                <i class="user big ft-ruber icon"></i>
                                <div class="content">
                                    Diane Cooper
                                </div>
                            </h3>
                            <div class="right menu">
                                <div class="inverted item">
                                    <div class="ui icon input">
                                        <input type="text" placeholder="Search...">
                                        <i class="search link icon"></i>
                                    </div>
                                </div>
                                <a class="ui item">
                                    <i class="add ft-ruber circular icon"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui secondary menu">
                            <div class="item ">
                                <div class="ui breadcrumb">
                                    <a class="section">Patient List</a>
                                    <i class="right angle icon divider"></i>
                                    <a class=" active section">Diane Cooper</a>
                                </div>
                            </div>
                            <div class="right menu">
                                <div class="item">
                                    <div class="ui icon button">
                                        <i class="print icon"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <button class="ui button">
                                        <i class="icon pencil"></i>
                                        Edit Patient
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" thirteen wide column">
                        <div class="ui segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <div class="ui container">
                                        <div class="ui items">
                                            <div class="item">
                                                <div class="ui small circular image">
                                                  <img src="https://lh3.googleusercontent.com/proxy/NULCFArQEOPoCzKWu7ikB6nB_kRJNRV1EAf1W5MnSo4w8LyFQZveH73hVgktGPZRtBSpZWaz1fNZr1gQ0YBS07pk8oBUwbJ5JVipn91QtXBC4ABbMdrrdFTjam7dTEaVBVO-3-2pRiy4jOiyZ0kca_f9DgsKP2EtDYi84Q">
                                                </div>
                                                <div class="content">
                                                   <h1>Mr. Jesse Wynn</h1>
                                                  <!-- <div class="meta">
                                                    <span>Description</span>
                                                  </div> -->
                                                  <div class="description">
                                                    <p>Emergency Contact</p>
                                                  </div>
                                                  <div class="extra">
                                                    <p>Louise Milligan</p>
                                                   <p>+21 383 834 764</p>
                                                  </div>
                                                  <div class="ui button" style="margin-top: 15px;"> Edit Patient</div>
                                                </div>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="three wide column">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF PUSHER SIDEBAR-->
</div>

<% include ../../partials/footer %>