<% include ../../partials/head %>
<% include ../../partials/sidebar %>

<div class="pusher">
    <!-- START OF PUSHER SIDEBAR-->
    <% include ../../partials/topmenu %>

    <div class="ui grid home-menu">
        <div class="three column row long" style="background: #3197e0;">
            <div class="column center-content">
                <div>
                    <h1 class="ui inverted header" id="header-title">Good Morning Pape!</h1>
                    <div>
                        <h1 class="ui inverted centered header"><%=date%></h1>
                    </div>
                </div>
            </div>
            <div class="column"></div>
            <div class="column center-content">
                <h1 class="ui inverted header">
                    <i class="bell outline icon"></i>
                    <div class="content">
                        2 Notifications
                    </div>
                </h1>
                <h1 class="ui inverted header">
                    <i class="clock outline icon"></i>
                    <div class="content">
                        <div id="MyClockDisplay" class="" onload="showTime()"></div>
                    </div>
                </h1>
            </div>
        </div>
        <div class="three column row long">
            <div class=" yellow column center-content menu-item" onclick="window.location='/'">
                <h2 class="ui inverted icon header">
                    <i class="users icon"></i>
                    <div class="content">
                        Patients List
                    </div>
                </h2>
            </div>
            <div class="pink column center-content">
                <h2 class="ui inverted icon header pape">
                    <i class="phone icon"></i>
                    <div class="content">
                        Emergency Calls
                    </div>
                </h2>
            </div>
            <div class="brown column center-content ">
                <h2 class="ui inverted icon header">
                    <i class="pencil alternate icon"></i>
                    <div class="content">
                        Assessment
                    </div>
                </h2>
            </div>
        </div>

        <div class="three column row long">
            <div class="grey column center-content">
                <h2 class="ui inverted icon header">
                    <i class="folder open outline icon"></i>
                    <div class="content">
                        Patient Records
                    </div>
                </h2>
            </div>
            <div class="teal column center-content">
                <h2 class="ui inverted icon header pape">
                    <i class="stethoscope icon"></i>
                    <div class="content">
                        Test Results
                    </div>
                </h2>
            </div>
            <div class="olive column center-content">
                <h2 class="ui inverted icon header">
                    <i class="hospital icon"></i>
                    <div class="content">
                        Refer Patient
                    </div>
                </h2>
            </div>
        </div>
        <div class="three column row long" style="background: white;">
            <div class="column center-content">
                <h2 style="margin-bottom: 40px;">Patient Resolutions</h2>
                <i class="huge icons">
                    <i class="user icon"></i>
                    <span class="stats" style="border-color: #3197c0;">11</span>
                </i>
            </div>
            <div class="column center-content">
                <h2 style="margin-bottom: 40px;">Doctor Referrals</h2>
                <i class="huge icons">
                    <i class="user md icon"></i>
                    <span class="stats" style="border-color: #4eb4ab;">11</span>
                </i>
            </div>
            <div class="column center-content">
                <h2 style="margin-bottom: 40px;">Hospitalizations</h2>
                <i class="huge icons">
                    <i class="heartbeat icon"></i>
                    <span class="stats" style="border-color: #f9c66f;">11</span>
                </i>
            </div>
        </div>
    </div>
    <!-- END OF PUSHER SIDEBAR-->
</div>

    <% include ../../partials/footer %>