<% include ../../partials/head %>

<body>
	<div class="center-content bg-img">
		<h1>CareAssist</h1>
		<div class="ui text container ">
			<div class="ui  grid" id="login-grid">
		
					<div class=" column" id="login-right">
						<h1 class="ui inverted header" style="margin-top:0px">
							Welcome
							<div class="sub header">Please confirm that you are visiting</div>
							<div class="sub header">https://www.CareAssist.com/</div>
						</h1>

						<form class="ui inverted form">
							<div class="field">
								<label>First Name</label>
								<input type="text" name="first-name" placeholder="First Name">
							</div>
							<div class="field">
								<label>Last Name</label>
								<input type="text" name="last-name" placeholder="Last Name">
							</div>
	
						</form>
						<a href="/home">
							<button style="margin: 0;" class="ui fluid teal button" type="submit">Submit</button>
						</a>
					</div>
			</div>
		</div>
	</div>
	</div>
</body>

</html>