<% include ../../partials/head %>
<% include ../../partials/sidebar %>

<div class="pusher">
    <!-- START OF PUSHER SIDEBAR-->
    <% include ../../partials/topmenu %>
    <h1>User Profile Page</h1>
    <!-- END OF PUSHER SIDEBAR-->
</div>

<% include ../../partials/footer %>

<!-- TODO: Create functionality to go to this page from sidebar -->