<% include ../../partials/head %>
<% include ../../partials/topmenu %>

<div class="ui bottom attached segment">
    <% include ../../partials/sidebar %>

    <div class="pusher">
        <!-- START OF PUSHER SIDEBAR-->
        <div class="ui internally celled grid">
            <div class="row">
                <div class="ui center aligned two wide column" style="height: 92vh;">
                    <div class="ui fluid secondary vertical menu">
                        <br>
                        <h2 class="ui orange header">User Profile</h1>
                            <br><br>
                            <a class="ui item profile-menu">
                                <i class="user outline icon"></i>
                                User Info
                            </a>
                            <a class="ui item profile-menu">
                                <i class="cog icon"></i>
                                Settings
                            </a>
                            <a class="ui item profile-menu">
                                <i class="bell outline icon"></i>
                                Notifications
                            </a>
                    </div>
                </div>
                <div class="ui thirteen wide column">
                    <div class="ui grid" style="margin-top: 40px;">
                        <div class="centered row">
                            <img class="ui circular image" style="margin-left: 10px;height:17vh;"
                                src="https://www.scripturaengage.com/wp-content/uploads/2017/03/Profile-Picture-Joke-Dehond-Circle.png">
                            <h1 class="ui header">
                                <div class="content" style="margin-left: 20px; margin-top: 20px;">
                                    Pape Traore
                                    <div class="sub header">College Station, TX</div>
                                </div>
                            </h1>
                        </div>
        
                        <div class="centered row">
                            <div class="nine wide column">
                                <form class="ui form">
                                    <div class="two fields">
                                        <div style="padding-bottom: 20px; padding-right:30px;" class="field">
                                            <label>First Name</label>
                                            <input type="text" name="first-name" placeholder="Pape">
                                        </div>
                                        <div style="padding-bottom: 20px;" class="field">
                                            <label>Last Name</label>
                                            <input type="text" name="last-name" placeholder="Traore">
                                        </div>
                                    </div>
                                    <div class="two fields">
                                        <div style="padding-right:30px;" class="field">
                                            <label>Email Address</label>
                                            <input type="text" name="first-name" placeholder="papeisline2222@gmail.com">
                                        </div>
                                        <div class="field">
                                            <label>Phone Number</label>
                                            <input type="text" name="last-name" placeholder="1234567890">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
        
                        <div class="centered row">
                            <button id="orange-save" class="ui orange button">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF PUSHER SIDEBAR-->
    </div>
</div>

<% include ../../partials/footer %>


