<% include ../../partials/head %>

<div class="landing bg-img center-content">
    <div class="ui container">
        <h1>CareAssist</h1>
        <p>Better Understanding, Better Care, Better Health.</p>
        <a href="/login">
            <div class='ui teal big button'>
                Login To Your Account
            </div>
        </a>
    </div>
</div>

<% include ../../partials/footer %>