<% include ../../partials/head %>

<div class="landing bg-img center-content">
    <div class="ui container">
        <h1 class="ui centered header">
            <i class="huge icons">
                <i class="heartbeat blue icon"></i>
                <i class="corner wheelchair yellow icon"></i>
            </i>
        </h1>
        <h1 class="ui yellow header" style="font-size: 7em;">CareAssist</h1>
        <p></p>
        <script>
            window.onload = function () {
                var options = {
                    strings: ['Better Understanding, Better Care, Better Health.'],
                    typeSpeed: 70,
                    showCursor: true,
                    cursorChar: '|',
                };
                var typed = new Typed('p', options);
            }
        </script>
        <a href="/login">
            <div class='ui big blue button'>
                Login To Your Account
            </div>
        </a>
    </div>
</div>
<% include ../../partials/footer %>