<% include ../../partials/head %>

<div class="ui segment" style="height: 100%;">
    <div class="ui active yellow dimmer" style="background-image: linear-gradient(to bottom, #1f1f21, #292b3a, #303954, #334770, #30578e, #4669a1, #5b7bb5, #708ec9, #9ba8d6, #c0c3e3, #e1e0f1, #ffffff);">
        <i class="big icons" style="margin-bottom: 2.6vh">
            <i class="yellow heartbeat  icon"></i>
            <i class="blue corner  wheelchair icon"></i>
        </i>
        <div class="ui huge text loader"><%=state%></div>
    </div>

<% include ../../partials/footer %>