<% include ../../partials/head %>

<div class="center-content bg-img">
    <h1 class="ui centered header">
        <i class="huge icons">
            <i class="heartbeat blue icon"></i>
            <i class="corner wheelchair yellow icon"></i>
        </i>
    </h1>
    <h1 class="ui">CareAssist</h1>
    <div class="ui text container ">
        <div class="ui grid" id="login-grid">
            <div class="row">
                <div class=" twelve wide centered column" id="login-right">

                    <h1 class="ui inverted header" style="margin-top:0px">
                        Welcome
                    </h1>
                    <% if(success.length != 0){ %>
                        <div class="ui tiny success message ">
                            <i class="close icon"></i>
                            <div class="header">
                                <%=success[0]%>
                            </div>
                        </div>
                        <% } %>
                    <% if(error.length !=0){ %>
                        <div class="ui tiny error message">
                            <i class="close icon"></i>
                            <ul class="list">
                              <li>Make sure you enter the correct email address</li>
                              <li>All passwords are at least six character long.</li>
                            </ul>
                          </div>
                    <% } %>
                    <% if(failure.length != 0){ %>
                        <div class="ui tiny error message ">
                            <i class="close icon"></i>
                            <div class="header">
                                <%=failure[0]%>
                            </div>
                        </div>
                        <% } %>
                    <form class="ui large inverted  form" id="loginForm" action="/users/login" method="POST" >
                        <div class="field">
                            <label>Email Address</label>
                            <input type="email" name="email" placeholder="Enter Your Email">
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <input type="password" name="password" placeholder="Enter Your Password">
                        </div>
                        <button style="margin: 0;" class="ui fluid blue button" type="submit">Submit</button>
                        <div class="ui tiny error message"></div>
                    </form> 
                    <div class="ui segment">Forgot Password? <a href="/users/reset-request">Click here.</a></div>
                </div>
                </div>
               
        
        </div>
    </div>
</div>
</div>

<% include ../../partials/footer %>