<% include ../../partials/head %>

<div class="center-content bg-img">
    <h1 class="ui centered header">
        <i class="huge icons">
            <i class="heartbeat blue icon"></i>
            <i class="corner wheelchair yellow icon"></i>
        </i>
    </h1>
    <h1 class="ui">CareAssist</h1>
    <div class="ui text container ">
        <div class="ui grid" id="login-grid">
            <div class="row">
                <div class=" twelve wide centered column" id="login-right">
                    <h3 class="ui inverted header">Enter Account Email Address</h3>
                    <% if(success.length != 0){ %>
                        <div class="ui tiny success message ">
                            <i class="close icon"></i>
                            <div class="header">
                                <%=success[0]%>
                            </div>
                        </div>
                        <% } %>
                    <% if(error.length !=0){ %>
                        <div class="ui tiny error message">
                            <i class="close icon"></i>
                            <ul class="list">
                              <li>Make sure you enter the correct email address</li>
                              <li>All passwords are at least six character long.</li>
                            </ul>
                          </div>
                    <% } %>
                    <% if(failure.length != 0){ %>
                        <div class="ui tiny error message ">
                            <i class="close icon"></i>
                            <div class="header">
                                <%=failure[0]%>
                            </div>
                        </div>
                        <% } %>
                      
                        <form action="/users/reset-request" method="post" class="ui inverted form">
                            <div class="ui error message"></div>
                            <div class="field">
                                <label> Email Address</label>
                                <input type="email" name="email" placeholder="Email">
                            </div>
                            <button class="ui fluid blue button" type="submit">Submit</button>
                        </form>
                        <div class="ui segment"><a href="/login">Go to login page.</a></div>
                        
                </div>
                </div>
               
        </div>
    </div>
</div>

<script>
    
form();


function form() {
    $('form').form({
        fields: {
            email: {
                identifier: 'email',
                rules: [{
                    type: 'empty',
                    prompt: 'Please enter your email address'
                }]
            },
        }
    });
}

</script>

<% include ../../partials/footer %>

