<% include ../../partials/head %>

<div class="center-content bg-img">
    <h1 class="ui centered header">
        <i class="huge icons">
            <i class="heartbeat blue icon"></i>
            <i class="corner wheelchair yellow icon"></i>
        </i>
    </h1>
    <h1 class="ui">CareAssist</h1>
    <div class="ui text container ">
        <div class="ui grid" id="login-grid">
            <div class="row">
                <div class=" twelve wide centered column" id="login-right">
                    <h3 class="ui inverted header">Enter & Confirm New Password</h3>
                    <% if(success.length != 0){ %>
                    <div class="ui tiny success message ">
                        <i class="close icon"></i>
                        <div class="header">
                            <%=success[0]%>
                        </div>
                    </div>
                    <% } %>
                    <% if(error.length !=0){ %>
                    <div class="ui tiny error message">
                        <i class="close icon"></i>
                        <ul class="list">
                            <li>Make sure you enter the correct email address</li>
                            <li>All passwords are at least six character long.</li>
                        </ul>
                    </div>
                    <% } %>
                    <% if(failure.length != 0){ %>
                    <div class="ui tiny error message ">
                        <i class="close icon"></i>
                        <div class="header">
                            <%=failure[0]%>
                        </div>
                    </div>
                    <% } %>

                    <form action="/users/reset" method="post" class="ui inverted form">
                        <div class="ui error message"> </div>
                        <div class="field">
                            <label>New Password</label>
                            <input type="password" name="new_password" placeholder="New Password" id="new_password">
                        </div>
                        <div class="field">
                            <label>Confirm New Password</label>
                            <input type="password" name="confirm_new_password" placeholder="Confirm Password">
                        </div>
                        <input type="hidden" name="token" value="<%= user.resetPasswordToken %>">

                        <button class="ui blue fluid button" type="submit">Save</button>
                    </form>
                    <div class="ui segment"><a href="/login">Go to login page.</a></div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    form();

    function form() {
        $('form').form({
            fields: {
                new_password: {
                    identifier: 'new_password',
                    rules: [{
                            type: 'empty',
                            prompt: 'Please enter your new password'
                        },
                        {
                            type: 'match[confirm_new_password]',
                            prompt: 'Passwords do not match.'
                        }
                    ]
                },
                confirm_new_password: {
                    identifier: 'confirm_new_password',
                    rules: [{
                        type: 'empty',
                        prompt: 'Please confirm your new password'
                    }],
                }
            }
        });
    }
</script>

<% include ../../partials/footer %>