<% include ../../partials/head %>

<div class="ui text container height-inherit">
  <div class="ui segment height-inherit">
    <img src="./pic1.png" alt="" />
  </div>
</div>
<% include ../../partials/footer %>
